@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  /* background-color: #000000; */
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Add this to your global styles or import a CSS file */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional: Hide scrollbar when not hovered */
.scrollbar-hide::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}


.bg-cartNumBg {
  --tw-bg-opacity: 1;
  background-color: rgb(232 0 19 / var(--tw-bg-opacity));
}
.bg-card {
  background-color: rgba(256,256,256,0.8);
}
.textColor {
  --tw-text-opacity: 1;
    color: rgb(81 81 81 / var(--tw-text-opacity));
}